html
    head
        title Tower
        link(rel="stylesheet" href="style.css")
        script(src="https://cdn.jsdelivr.net/npm/three@0.116.1/build/three.min.js" integrity="sha256-xJj9x8gbL9ENxfyA7xT9xNm/EbK5GWl4bdSqhbS2iWY=" crossorigin="anonymous")
    body
       canvas#tower-canvas(width=800 height=600)
       script(src="tower.js")
